<?xml version="1.0" encoding="utf-8"?>
<configuration>
    
    <connectionStrings>
        <add name="DatabaseLogger" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-1GK6Q8F\NEKO;Initial Catalog=Logger;User Id =UserLogger;Password=Logger;Integrated Security=False"/>
    </connectionStrings>
    
    <appSettings>
        
        <add key="LogFileDirectory" value="."/> 
        
        <!--Log level type could be 
            Info: Log only information
            Warning: Log only warnings
            Error: Log only errors
            All: Log all type of logs 
            Or combine two of three types of logs
        -->
        <add key="LogLevelType" value="All"/>
    </appSettings>
        
</configuration>
