<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionString>
        <clear/>
         <add name="Log" providerName="System.Data.SqlClient" connectionString="Valid Connection String;" />
    </connectionString>
    <appSettings>

        <add key="LogFileDirectory" value="."/> 
        
        <!--Log level type could be 
            Info: Log only information
            Warning: Log only warnings
            Error: Log only errors
            All: Log all type of logs 
            Or combine two of three types of logs
        -->
        <add key="LogLevelType" value="All"/>
        
        
    </appSettings>
        
</configuration>
